<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <link rel="stylesheet" href="/style/chat.css">
</head>
<body>
    <div class="chatbody">
        <h1 id="usernameid"> Welcome to Chatroom </h1>
        <div id="chat">
            <div id="chat-message">
                <!-- <% if(chatHistory.length > 0) { %> -->
                    <!-- <% chatHistory.forEach (msg => { %> -->
                    <!-- <% foreach (var msg in chatHistory) { %> -->
                        
                        <!-- fist uncomment here downwards -->
                        <!-- <div class="message-container">
                            <div class="message-body">
                                <div class="user-id" id="user-id"> </div>
                                <script>
                                    var colors = ['#d8cd30', '#ff0000', '#00ff00', '#0000ff', '#d83076']
                                    var colorsRand = colors[Math.floor(Math.random() * colors.length)]
                                    document.getElementById("user-id").style.color = colorsRand
                                </script>
                                <div class="user-name"><%= msg.sender %></div>
                                <div class="user-name"></div>
                            </div>
                            <div class="user-message"><%= msg.message %></div>
                            <div class="user-message"></div>
                        </div> -->
                    <!-- <% } %> -->
                <!-- <% } else { %>
                    <h3> No chat yet </h3>
                <% } %> -->
            </div>
            <form id="chat-form">
                <input type="text" id="message-input" placeholder="Enter message...">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>

    <script src="/js/chat.js"></script>    
</body>
</html>